body {
	background-color: #36454F;
}

.grey {
	background-color: #edecf1;

}

#headline {
	text-align: center;
	opacity: 0.7;
	font-family: "Lucida Console", Lucida, monospace;

}

#footer {
	text-align: center;
	opacity: 0.7;
	font-family: "Lucida Console", Lucida, monospace;
}

#about {
	padding-top: 60px;
	padding-bottom: 60px;
	color: #edecf1;
}

#light-grey {
	opacity: 0.7;
}

.fwoot {
	height: 375px;
}

.first {
	background: url("map1.jpg") no-repeat;
	background-size: cover;
}

.second {
	background: url("bandit.png") no-repeat;
	background-size: cover;
}

.text {
	opacity: 0;
	background: #FFF;
	color: black;
	margin: 40px;
	font-family: "Lucida Console", Lucida, monospace;
}

.break {
	height: 50px;
}

a {
	color: white;
}

a:hover {
	color: orange;
}


.fwoot:hover {
	opacity: 0.5;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}

.fwoot:hover .text {
	opacity: 1;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}



